<!-- Interpolation and style binding -->
<!-- <h1 style="text-align: center;">Hey Welcome to {{heading}}</h1>
<h2 style="text-align: center; color: blue;">Frontend Framework is {{data.tech1}}</h2>
<h2 style="text-align: center; color: crimson;">Frontend Framework is {{data.tech2}}</h2>
<h2 style="text-align: center; color: darkgreen;">Frontend Framework is {{data.tech3}}</h2>
<div    [style.background-color]="colorFuntion()" 
        [style.text-align]="alignFunction()"
        [style.height]="heightFunction()">
    <input type="text" value="{{title}}">
</div> -->

<!-- Event Handling -->
<!-- <h2 [style.text-align]="alignFunction()">Event Handling</h2>
<div [style.text-align]="alignFunction()">
    <button (click)="addMorningMsg()">Good Morning</button> 
    &nbsp;&nbsp; 
    <button (click)="addNightMsg()">Good Night</button> <br>
    <h2 [style.color]="colorFunction()">Hey Friends, {{msg}}</h2>
</div>

<div [style.text-align]="alignFunction()">
    <h2>Count &rarr; {{count}}</h2>
    <h3>Count number is {{status}}</h3>
    <button (click)="addOne()">ADD</button> 
    &nbsp;&nbsp; 
    <button (click)="subtractOne()">SUBTRACT</button>
</div> -->

<!-- Two way Data Binding -->
<!-- <h2 [style.text-align]="alignFunction()" 
    [style.background-color]="colorFuntion()">Two-Way Data Binding</h2>
<div [style.text-align]="alignFunction()" [style.height]="heightFunction()">   
    <input type="text" [(ngModel)]="myName"> My Name is : {{myName}} 
    <br> <br>
    My count is : <input type="number" [(ngModel)]="count"> 
    <br> <br>
    <button (click)="check()">Check count</button> &nbsp;&nbsp; <button (click)="clear()">Clear count</button> 
    <h3 [hidden]="isHidden"> Count is {{state}} </h3>
    <br> <br> <br>
</div>   -->

<!-- For loop and IF statement -->
<!-- <h2 [style.text-align]="alignFunction()" 
    [style.background-color]="colorFuntion()">For Loop and IF statement</h2>
<div [style.text-align]="alignFunction()" [style.height]="heightFunction()">
    <table [align]="alignFunction()">
        <thead>
            <th>Name</th>
            <th>Price</th>
        </thead>
        <tbody *ngFor="let item of fruits">
            <tr *ngIf="(item.price<210)">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- Angular Routiong -->
<nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: #009a4d;">
    <div class="container-fluid px-0 py-0">
      <img src="\assets\logo\angular.svg" alt="" width="40" height="30" class="d-inline-block align-text-top ms-3">
      <a class="navbar-brand ps-1">Angular WebApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- Home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Home']">Home</a>
          </li>
          <!-- About Us -->
          <li class="nav-item">
            <a class="nav-link " aria-current="page" [routerLink]="['/About-Us']">About Us</a>
          </li>
          <!-- Contact Us -->
          <li class="nav-item">
            <a class="nav-link " aria-current="page" [routerLink]="['/Contact-Us']">Contact Us</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <!-- API Calling -->
  <!-- <div class="text-center">
  <h2 class="fw-bolder fst-italic">API Calling</h2>
  </div>
  <div class="px-5 py-2">
  <table class="table table-primary table-bordered border-dark table-hover">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of postArray">
        <th scope="row">{{item.userId}}</th>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>@{{item.body}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- Angular Forms (Template Driven)-->
  <!-- <section class="mh-100" style="background-color: #8fb5fb;">
    <div class="container py-5 w-80">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
           
            <div class="card-header mb-0 p-4 text-center">
              <h3 class="fw-bolder mb-0 fst-italic">Angular Forms <br>
                (Template Driven)</h3>
            </div>

            <div class="card-body px-4">
                  
              <form #form="ngForm" (ngSubmit)="form.valid&&onSubmit()">
                <div class="mb-3">
                  <label for="inputName" class="form-label mb-0">Name</label>
                  <input type="text" class="form-control" id="inputName" name="inputName" required minlength="4" #inputName="ngModel" [(ngModel)]="formData.inputName">
                  <label for="inputName" *ngIf="form.submitted&&inputName.errors?.['required']" class="form-label mb-0 text-danger fst-italic fw-bolder">Name is required</label>
                  <label for="inputName" *ngIf="form.submitted&&inputName.errors?.['minlength']" class="form-label mb-0 text-danger fst-italic fw-bolder">Minimum 4 characters are required</label>
                </div>
                <div class="mb-3">
                  <label for="inputEmail" class="form-label mb-0">Email Address</label>
                  <input type="email" class="form-control" id="inputEmail" name="inputEmail" required #inputEmail="ngModel" ngModel [email]="true" [(ngModel)]="formData.inputEmail">
                  <label for="inputEmail" *ngIf="form.submitted&&inputEmail.errors?.['required']" class="form-label mb-0 text-danger fst-italic fw-bolder">Email Address is required</label>
                  <label for="inputEmail" *ngIf="form.submitted&&inputEmail.errors?.['email']" class="form-label mb-0 text-danger fst-italic fw-bolder">Wrong Email Format</label>
                </div>
                <div class="mb-3">
                  <label for="inputPassword" class="form-label mb-0">Password</label>
                  <input type="password" class="form-control" id="inputPassword" name="inputPassword" required minlength="4" #inputPassword="ngModel" [(ngModel)]="formData.inputPassword" ngModel pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,}$">
                  <label for="inputPassword" *ngIf="form.submitted&&inputPassword.errors?.['required']" class="form-label mb-0 text-danger fst-italic fw-bolder">Password is required</label>
                  <label for="inputPassword" *ngIf="form.submitted&&inputPassword.errors?.['minlength']" class="form-label mb-0 text-danger fst-italic fw-bolder">Minimum 4 characters are required</label>
                  <label for="inputPassword" *ngIf="form.submitted&&inputPassword.errors?.['pattern']" class="form-label mb-0 text-danger fst-italic fw-bolder">Use Atleast one letter and one number</label>
                </div>

                <button type="submit" class="btn btn-primary d-grid col-6 mx-auto my-5">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Reactive Forms -->
  <section class="mh-100" style="background-color: #3aba7a;">
    <div class="container py-5 w-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-10 col-xl-8">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
           
            <div class="card-header mb-0 p-4 text-center">
              <h3 class="fw-bolder mb-0 fst-italic">Reactive Forms</h3>
            </div>

            <div class="card-body row px-3">
                  
              <div class="col col-md-6" style="overflow-y: auto;">
                <form [formGroup]="jobForm" (ngSubmit)="save()">
                  <div class="mb-3">
                    <label for="inputName" class="form-label mb-0">Full Name</label>
                    <input type="text" class="form-control" id="inputName" name="inputName"  formControlName="inputName" >
                    <div class="alert alert-danger" *ngIf="(inputName?.invalid) && ((inputName?.touched) || (inputName?.dirty))">
                      <div *ngIf="inputName?.errors?.['required']">
                        FullName is required
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="inputEmail" class="form-label mb-0">Email Address</label>
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" formControlName="inputEmail" >
                  </div>
                  <div class="mb-3">
                    <label for="inputPassword" class="form-label mb-0">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" formControlName="inputPassword" >
                  </div>

                  <div formGroupName="moreDetails">
                  <div class="mb-3">
                    <label for="inputPhone" class="form-label mb-0">Phone Number</label>
                    <input type="number" class="form-control" id="inputPhone" name="inputPhone" formControlName="inputPhone" >
                  </div>
                  <div class="mb-3">
                    <label for="inputDOB" class="form-label mb-0">Date of Birth</label>
                    <input type="date" class="form-control" id="inputDOB" name="inputDOB" formControlName="inputDOB" >
                  </div>
                  </div>
                  
                  <div class="mb-3" formArrayName="skills">
                      <div class="row">
                        <div class="col col-md-4 offset-md-0 mb-2">
                          <button type="button" class="btn btn-secondary btn-sm" (click)="addSkill()">Add a Skill</button>
                        </div>
                      </div>
                      <ng-container *ngFor="let skill of skillForm.controls; let i = index">
                        <div class="row" [formGroupName]="i">
                          <div class="col col-md-5">
                            <div class="mb-3">
                              <label [for]="'inputProgramLanguage'+i" class="form-label mb-0">Program Lang</label>
                              <input type="text" class="form-control" [id]="'inputProgramLanguage'+i" formControlName="inputProgramLanguage" >
                            </div>
                          </div>
                          <div class="col col-md-5">
                            <div class="mb-3">
                              <label [for]="'inputExperienece'+i" class="form-label mb-0">Experience (in Yrs)</label>
                              <input type="number" class="form-control" [id]="'inputExperienece'+i" formControlName="inputExperienece" >
                            </div>
                          </div>
                          <div class="col col-md-2">
                            <div class="mb-3  mt-4">
                              <button type="button" class="btn btn-danger" (click)="removeSkill(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash align-middle" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                              </button>
                              
                            </div>
                          </div>
                        </div>
                      </ng-container>
                  </div>

                  <button type="submit" class="btn btn-primary d-grid col-8 mx-auto mb-3">Submit</button>
                  <button type="button" class="btn btn-info d-grid col-8 mx-auto mb-3" (click)="samplePatchValue()">Test PatchValues</button>
                  <button type="button" class="btn btn-warning d-grid col-8 mx-auto mb-5" (click)="sampleSetValue()">Test SetValues</button>
                </form>
              </div>

              <div class="col col-md-6">
                <div style="overflow-wrap: break-word;">
                  <h3 class="text-center">Preview</h3>
                  {{preview}}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 