<!-- Interpolation and style binding -->
<h1 style="text-align: center;">Hey Welcome to {{heading}}</h1>
<h2 style="text-align: center; color: blue;">Frontend Framework is {{data.tech1}}</h2>
<h2 style="text-align: center; color: crimson;">Frontend Framework is {{data.tech2}}</h2>
<h2 style="text-align: center; color: darkgreen;">Frontend Framework is {{data.tech3}}</h2>
<div    [style.background-color]="colorFuntion()" 
        [style.text-align]="alignFunction()"
        [style.height]="heightFunction()">
    <input type="text" value="{{title}}">
</div>

<!-- Event Handling -->
<h2 [style.text-align]="alignFunction()">Event Handling</h2>
<div [style.text-align]="alignFunction()">
    <button (click)="addMorningMsg()">Good Morning</button> 
    &nbsp;&nbsp; 
    <button (click)="addNightMsg()">Good Night</button> <br>
    <h2 [style.color]="colorFunction()">Hey Friends, {{msg}}</h2>
</div>

<div [style.text-align]="alignFunction()">
    <h2>Count &rarr; {{count}}</h2>
    <h3>Count number is {{status}}</h3>
    <button (click)="addOne()">ADD</button> 
    &nbsp;&nbsp; 
    <button (click)="subtractOne()">SUBTRACT</button>
</div>
